{% extends "base.html" %}

{% block title %}<title>SChedules</title>{% endblock %}

{% block content %}

<div class="py-2 d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="{% url 'schedule_import' %}" class="btn btn-primary px-2">Import</a>  
  <a href="{% url 'schedule_create' %}" class="btn btn-primary">Add</a> 
</div>

{% if schedule_list %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Plage</th>
        <th scope="col">Semestre</th>
        <th scope="col">Day</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for w in schedule_list %}
      <tr>
        <th scope="row">{{ w.id }}</th>
        <td>{{ w.plage }}</td>
        <td>{{ w.semestre }}</td>
        <td>{{ w.day }}</td>
        <td>{{ w.date }}</td>
        <td>
          <a href="{% url 'schedule_detail' w.pk %}" class="btn btn-info">View</a> | 
          <a href="{% url 'schedule_update' w.pk %}" class="btn btn-primary">Edit</a> | 
          <a href="{% url 'schedule_delete' w.pk %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>There are no schedule in the database.</p>
{% endif %}
{% endblock %}